.containerGenerator{
    display:flex;
    justify-content:center
}

.sign {
    font-size: 18px;
}

.button-sign{
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
}
.titleGenerator{
    font-size: 1.8em;
    line-height: 1.1;
}

.containerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}


.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.card {
    border: 1px solid;
    width: 16%;
    border-radius: 18px;
    overflow: hidden;
}

h2.cardTitle {
    font-size: 1.5em;
}
h3.cardAuthor {
    overflow: hidden;
    font-size: 0.8em;
}
@media(max-width: 650px) {
    .containerGenerator{
        display:flex;
        justify-content:center
    }
    
    .sign {
        font-size: 30px;
    }
    
    .button-sign{
        display: flex;
                width: 45px;
                height: 45PX;
                align-items: center;
                justify-content: center;
    }
    .titleGenerator{
        font-size: 1.8em;
        line-height: 1.1;
    }
    
}
